{
  "extends": ["airbnb", "plugin:jest/recommended", "prettier"],
  "plugins": ["jest", "prettier"],
  "env": {
    "jest/globals": true
  },
  "rules": {
    "no-underscore-dangle": 0,
    "camelcase": 0
  }
}
